.program-list {
    border: none;
    border-radius: 5px;
}

.card-body {
    padding-bottom: .5rem !important;
}

.pending {
    background-color: #fff9ac;
    border-radius: 5px;
    color: rgb(253, 120, 31);
}

.cancel {
    background-color: #FFE3E3;
    border-radius: 5px;
    color: red;
}

.done {
    background-color: #C6FFE0;
    border-radius: 5px;
    color: #0cc261;
}

.btn {
    padding: 0.275rem 0.5rem !important;
    font-size: 14px;
    margin: 0;
}

.cancelled{
    text-decoration:line-through
}