@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.nav-link {
	color: #ffffff !important;
	font-weight: 500;
	transition: all .3s ease;
}

.navColor {
	background: #7F7F7F;
}

.navbar {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding: 0 80px;
}

.nav-link:hover {
	color: #F3C623 !important;
}

.navbar .navbar-collapse {
	text-align: center;
}


.navbar-brand .name {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	color: #ffffff;
}

.navbar-brand .angle {
	color: #fda500;
	font-size: 24px;
}

@media screen and (max-width: 650px) {
	.navbar {
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		padding: 0 30px;
	}
}